main.css

/* This is a CSS file */
/* Tell all the font on the page to be Georgia,
With back of serif*/
* {
	font-family: "Georgia", serif;}

/* Tell all the strong text to be gray/
strong {
	color: gray}
/* Tell all the strong text to be gray*/
strong {
	color: gray;}

